{{ define "head" }}

<head>
    <title>{{ . }}PMDb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>

{{ end }}


{{ define "footer" }}

<footer class="my-5">
    Brought to you by
    <a href="https://github.com/wipdev-tech" class="text-blue-600 hover:text-blue-400" target="_blank">Waseem</a>
</footer>

{{ end }}

