{{ block "index" . }}
{{ template "top" "Home // " }}

<section class="mt-5 mb-10 text-gray-200 rounded-lg bg-primary bg-opacity-10">
    <blockquote class="px-5 py-7 my-3 border-l-4 border-primary">

        {{ if .LoggedIn }}
        <h3 class="text-3xl font-semibold mb-2">
            Welcome,
            <a class="text-primary" href="/profile/{{ .User.UserName }}">{{ .User.DisplayName }}</a>!
        </h3>
        {{ else }}
        <h3 class="text-3xl font-semibold mb-2">Welcome!</h3>
        {{ end }}

        <p>
            PMDb is your personal space for movies! Here you can rate and review movies you watched and make watchlists
            for movies you want to watch.
        </p>

        <div class="flex gap-3 items-center mt-5">
            {{ if .LoggedIn }}
            <button hx-get="/logout" hx-confirm="Are you sure to log out?" class="text-blue-500 hover:text-blue-400">Log
                Out</button>
            {{ else }}
            <a href="/register"
                class="rounded px-3 py-1 bg-blue-600 disabled:opacity-50 hover:bg-blue-500 text-white">Join
                PMDb</a>
            or
            <a href="/login" class="text-blue-500 hover:text-blue-400">Log In</a>
            {{ end }}
        </div>
    </blockquote>
</section>

<section class="my-5">
    <h3 class="bg-primary text-gray-950 px-4 py-2 text-3xl rounded-xl font-semibold mb-2 flex gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M3 20.077V4.615q0-.69.463-1.152Q3.925 3 4.615 3h14.77q.69 0 1.152.463q.463.462.463 1.152v10.77q0 .69-.462 1.153q-.463.462-1.153.462H6.077zm6.517-6.404L12 12.167l2.483 1.506l-.66-2.825l2.196-1.885l-2.886-.255L12 6.058l-1.133 2.65l-2.886.255l2.196 1.885z" />
        </svg>
        Latest Public Reviews
    </h3>
    <p class="h-48">
        None (yet).
    </p>
</section>

<section class="my-5">
    <h3 class="bg-primary text-gray-950 px-4 py-2 text-3xl rounded-xl font-semibold mb-2 flex gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M10 15.577L15.577 12L10 8.423zM4.615 19q-.69 0-1.152-.462Q3 18.075 3 17.385V6.615q0-.69.463-1.152Q3.925 5 4.615 5h14.77q.69 0 1.152.463q.463.462.463 1.152v10.77q0 .69-.462 1.152q-.463.463-1.153.463z" />
        </svg>
        Now Playing
    </h3>
    <p>The most popular movies are shown first.</p>
    <ul class="grid md:grid-cols-5 gap-8 items-end justify-center">
        {{ range $i, $movie := .NowPlaying }}
        <li class="flex flex-col items-center">
            <h4 class="font-semibold text-center mb-2 flex-grow h-full">{{ $movie.Title }}</h4>
            <img class="rounded" width="200" src="https://image.tmdb.org/t/p/w500{{ $movie.PosterPath }}" alt="poster_path">
        </li>
        {{ end }}
    </ul>
</section>

{{ template "bottom" }}
{{ end }}
