{{ block "movie" . }}
{{ template "top" print .Title " // " }}

<div class="grid grid-cols-[1fr_2fr] gap-10">
    <section>
        <img class="w-full" src="https://image.tmdb.org/t/p/w500{{ .PosterPath }}" alt="{{ .Title }}">
    </section>
    <section>
        <div class="mb-8">
            <h1 class="text-4xl font-semibold mb-2">{{ .Title }}</h1>
            <ul class="flex gap-2">
                {{ range $i, $genre := .Genres }}
                <li class="px-2 border border-primary text-primary rounded-lg text-sm">{{ $genre.Name }}</li>
                {{ end }}
            </ul>
        </div>
        <p>{{ .Overview }}</p>
    </section>
</div>


{{ template "bottom" }}
{{ end }}
