<section id="users" class="my-5">
    <h3 class="text-gray-100 text-3xl font-semibold mb-2">
        Users <span class="text-2xl ml-2 font-normal">{{ len .Users }} so far</span>
    </h3>
    <div class="grid grid-cols-2">
        <section>
            <ul class="mb-3">
                {{ range $index, $user := .Users }}
                <li>{{ $user.DisplayName }} ({{ $user.UserName }})</li>
                {{ end }}
            </ul>
            {{ if ne .ErrorMessage "" }}
            <p class="text-red-400">{{ .ErrorMessage }}</p>
            {{ end }}
        </section>

        <section class="my-5">
            <h4 class="text-gray-100 text-xl font-semibold mb-3">Register your name!</h4>
            <form hx-post="/add-user" hx-target="#users" hx-swap="outerHTML">
                <input type="text" name="name" value="" class="rounded px-2 py-1 text-gray-900">
                <button type="submit" class="rounded px-2 py-1 bg-blue-600">+</button>
            </form>
        </section>
    </div>
</section>
