package templs

import "fmt"
import "net/http"

templ ErrorPage(statusCode int) {
	@Page("Error") {
		<h1 class="flex gap-2 items-center text-2xl font-semibold">
			Error
			@iconSad()
		</h1>
		<h2 class="italic text-xl text-red-500 my-5">
			{ fmt.Sprint(statusCode) } &mdash; { http.StatusText(statusCode) }
		</h2>
		<a href="/" class="text-blue-500 hover:text-blue-400">Return to home</a>.
	}
}
